<div class="wrapper">
    <div class="dropdownContainer">
        <select class="dogs-list" (change)="ChangeDog($event)">
            <option><button>--wybierz--</button></option>
            <option *ngFor="let dog of dogList.message" [value]="dog"><button>{{dog}}</button>
            </option> 
        </select>
    </div>
    <div class="detailsContainer">
        <h2>{{header}}</h2>
        <img src="{{dogImgDisplay}}">
        <p>{{text}}<a href="{{link}}">{{selectedValue}}</a></p>
    </div>
</div>
